<Alloy>
	<Window class="container" fullscreen="true">
		<View width="40%" left="0">
			<View id="shadowmenu"></View>
			<View class="contenedormenu" width="Ti.UI.FULL" height="Ti.UI.FULL"  layout="vertical" backgroundColor="white">
				<View width="Ti.UI.FULL"  top="30dp"  height="Ti.UI.SIZE" backgroundColor="white">
					<Label>Menu</Label>a
				</View>
				<TableView id="tablemenu" top="25dp" height="85%"   backgroundImage="/menu/backgraymenu.png">
					<TableViewSection>
						<TableViewRow class="claserow" height="Ti.UI.SIZE" layout="vertical" >
							<View width="Ti.UI.FULL" height="Ti.UI.SIZE" layout="vertical">
								<Label bottom="10dp" height="Ti.UI.SIZE" class="menuitemlabel">Titulo</Label>
								<View class="separador"></View>
							</View>
						</TableViewRow>
						<TableViewRow class="claserow" height="Ti.UI.SIZE" layout="vertical" >
							<View width="Ti.UI.FULL" height="Ti.UI.SIZE" layout="vertical">
								<Label bottom="10dp" height="Ti.UI.SIZE" class="menuitemlabel">Titulo</Label>
								<View class="separador"></View>
							</View>
						</TableViewRow>
						<TableViewRow class="claserow" height="Ti.UI.SIZE" layout="vertical" >
							<View width="Ti.UI.FULL" height="Ti.UI.SIZE" layout="vertical">
								<Label bottom="10dp" height="Ti.UI.SIZE" class="menuitemlabel">Titulo</Label>
								<View class="separador"></View>
							</View>
						</TableViewRow>
						<TableViewRow class="claserow" height="Ti.UI.SIZE" layout="vertical" >
							<View width="Ti.UI.FULL" height="Ti.UI.SIZE" layout="vertical">
								<Label bottom="10dp" height="Ti.UI.SIZE" class="menuitemlabel">Titulo</Label>
								<View class="separador"></View>
							</View>
						</TableViewRow>
					</TableViewSection>
				</TableView>
			</View>
		</View>
		<View id="contentwindow">
			<Button onClick="openmenu">abrir menu</Button>
		</View>
	</Window>
</Alloy>
